<!-- <mat-checkbox
  #showDetails
  [value]=""
  [checked]="isChecked"
  (change) = "isChecked=showDetails.checked; onChange($event);"
  >Show Details</mat-checkbox>

  <div *ngIf="showDetails.checked">Show Details...........</div> -->

  <!-- <mat-radio-group value="0" (change)="onChangeRadio($event)">
    <mat-radio-button value="0">Male</mat-radio-button>
    <mat-radio-button value="1">Female</mat-radio-button>
  </mat-radio-group> -->

  <!-- <mat-select [value]="0" (change)="onChange($event)">
    <mat-option ng
      *ngFor="let color of colors" [value]="color.id">
      {{ color.name }}
    </mat-option>
  </mat-select> -->

  
<form>
  <mat-form-field>
      <input type="text" matInput placeholder="Username">
  </mat-form-field>
</form>
  
